<h3 class="w3-center">Select your choice. Then the Bot will pick.</h3>
<div class="w3-container" style="display:flex;">
  <div class="playerColumn">
    <h4 class="w3-center">{{ playerName }}</h4>
    <h5 class="w3-center">{{ playerCount }}</h5>
      <a ng-if="choice === '' || choice === 'rock'" ng-click="checkBot('rock')" class="w3-button">
        <img class="w3-image" style="max-height: 25vh" src="./media/rock.png" alt="">
      </a>
      <a ng-if="choice === '' || choice === 'paper'" ng-click="checkBot('paper')" class="w3-button">
        <img class="w3-image" style="max-height: 25vh" src="./media/paper.png" alt="">
      </a>
      <a ng-if="choice === '' || choice === 'scissors'" ng-click="checkBot('scissors')" class="w3-button">
        <img class="w3-image" style="max-height: 25vh" src="./media/scissors.png" alt="">
      </a>
  </div>
  <div class="botColumn">
    <h4 class="w3-center">The Bot</h4>
    <h5 class="w3-center">{{ botCount }}</h5>
    <a ng-if="bot === 'rock'" class="w3-button w3-hover-none">
      <img class="w3-image" style="max-height: 25vh" src="./media/rock.png" alt="">
    </a>
    <a ng-if="bot === 'paper'" class="w3-button w3-hover-none">
      <img class="w3-image" style="max-height: 25vh" src="./media/paper.png" alt="">
    </a>
    <a ng-if="bot === 'scissors'" class="w3-button w3-hover-none">
      <img class="w3-image" style="max-height: 25vh" src="./media/scissors.png" alt="">
    </a>
  </div>
</div>
<div ng-hide="message === ''" class="w3-center">
  <h3>{{ message }}</h3>
  <div ng-click="playAgain()" class="w3-button w3-lime w3-hover-blue-gray">
    Play Again
  </div>
  <div ng-click="reset()" class="w3-button w3-lime w3-hover-blue-gray">
    Start Over
  </div>
</div>
